{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- product section start -->
  <div class="product_section layout_padding">
    <div class="container">
      <div class="product_text">Our <span style="color: #5ca0e9;">products</span></div>
      <p class="long_text">{{ product.bio }}</p>
      <div class="product_section_2">
        <div class="row">
          {% for Products in product %}
          <div class="col-md-6">
            <div class="image_2"><img src="{{vid.img.url}}"></div>
            <div class="price_text">Price $ <span style="color: #3a3a38;">{{ Products.price }}</span></div>
            <a href="{% url 'product_detail' Products.pk %}"><h1 class="game_text">{{ Products.name }}</h1></a>
            <p class="long_text">{{ Products.bio }}</p>
          </div>
          {% endfor %}
          {% for rem in remot %}
          <div class="col-md-6">
            <div class="image_2"><img src="{{vid.img.url}}"></div>
            <div class="price_text">Price $ <span style="color: #3a3a38;">{{ rem.price }}</span></div>
            <a href="{% url 'remot_detail_view' rem.pk %}"><h1 class="game_text">{{ rem.name }}</h1></a>
            <p class="long_text">{{ rem.bio }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="see_main">
        <div class="see_bt"><a href="#">See More</a></div>
      </div>
    </div>
  </div>
  <!-- product section end -->
{% endblock content %}